name: CI

on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal -l:trx;LogFileName=TestResults.trx
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: test-results
        path: "**/*.trx"
